@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 203 71% 5%;
    --muted: 173 33% 86%;
    --muted-foreground: 173 4% 29%;
    --popover: 203 68% 97%;
    --popover-foreground: 203 71% 4%;
    --card: 203 68% 97%;
    --card-foreground: 203 71% 4%;
    --border: 203 6% 91%;
    --input: 203 6% 91%;
    --primary: 203 92% 24%;
    --primary-foreground: 203 92% 84%;
    --secondary: 173 92% 24%;
    --secondary-foreground: 0 0% 100%;
    --accent: 233 92% 24%;
    --accent-foreground: 233 92% 84%;
    --destructive: 14 99% 32%;
    --destructive-foreground: 0 0% 100%;
    --ring: 203 92% 24%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 203 54% 1%;
    --foreground: 203 30% 100%;
    --muted: 173 33% 14%;
    --muted-foreground: 173 4% 71%;
    --popover: 203 54% 2%;
    --popover-foreground: 0 0% 100%;
    --card: 203 54% 2%;
    --card-foreground: 0 0% 100%;
    --border: 203 6% 10%;
    --input: 203 6% 10%;
    --primary: 203 92% 24%;
    --primary-foreground: 203 92% 84%;
    --secondary: 173 92% 24%;
    --secondary-foreground: 0 0% 100%;
    --accent: 233 92% 24%;
    --accent-foreground: 233 92% 84%;
    --destructive: 14 99% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 203 92% 24%;
  }
}



@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
